<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
   <%- include('./partial/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title</label>
            <input type="text" name="title" id="title" required>
            <label for="sinppet">Blog type</label>
            <input type="text" name="type" id="snippet" required>
            <label for="body">Blog Body</label>
            <textarea name="body" id="body" cols="30" rows="5" required></textarea>
            <button>Submit</button>

        </form>
    </div>
    
</body>
</html>