<nav>
    <div class="site-title">
       <a href="/">Blog Otash</a>
    </div>
    <ul>
        <li><a href="/">Pizza</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/create">Adding new Pizza</a></li>


    </ul>
</nav>